<a href="/questions">Home</a>
<a href="/questions/new">New Question</a>
<br><br>

<!--  Should Show WHo asked the question. -->
<h3><%=@question.content%></h3>

<div class="comments">
  <%@question.comments.each do |comment|%>
    <p><%=comment.user.username%> answered:</p>
    <p><%=comment.content%><p>
  <%end%>
</div>
